{"openapi":"3.0.0","info":{"description":"SCIM API to integrate identity Manager solution for a better Provisioning and deprovisioning of users","version":"1.0.0","title":"scim API"},"servers":[{"url":"https://api.coorpacademy.com"}],"components":{"schemas":{"IDPUserBodyRequest":{"type":"object","properties":{"id":{"type":"string","description":"userId"}},"example":{"id":"1234"}}},"responses":{"InternalError":{"description":"InternalError","content":{"*/*":{"schema":{"type":"string"}}}},"Success":{"description":"User created successfully","content":{"*/*":{"schema":{"type":"object","properties":{"success":{"type":"object","properties":{"ResponseMetadata":{"type":"object","properties":{"RequestId":{"type":"string"}}},"MD5OfMessageBody":{"type":"string"},"MessageId":{"type":"string"}}}}}}}}},"parameters":{"externalId":{"name":"externalId","in":"query","description":"id of the user (IDP Side)","schema":{"type":"string"}},"userId":{"name":"userId","in":"path","description":"id of the user (Coorp Side)","required":true,"schema":{"type":"string"}},"brand":{"name":"brand","in":"path","description":"brandName","required":true,"schema":{"type":"string"}}},"securitySchemes":{"token":{"type":"apiKey","name":"token","in":"header"}}},"paths":{"/{brand}/Users":{"get":{"tags":["Scim LIST"],"summary":"scim list User","description":"","operationId":"listUsers","security":[{"token":[]}],"parameters":[{"$ref":"#/components/parameters/brand"},{"$ref":"#/components/parameters/externalId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"500":{"$ref":"#/components/responses/InternalError"}}},"post":{"tags":["Scim CREATE"],"summary":"scim create User","description":"","operationId":"onboardingPOST","security":[{"token":[]}],"parameters":[{"$ref":"#/components/parameters/brand"}],"requestBody":{"description":"User Body (IDP side)","required":true,"content":{"application/json+scim":{"schema":{"$ref":"#/components/schemas/IDPUserBodyRequest"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/{brand}/Users/{userId}":{"get":{"tags":["SCIM FIND"],"summary":"scim find User","description":"","operationId":"recommendedCoursePOST","security":[{"token":[]}],"parameters":[{"$ref":"#/components/parameters/brand"},{"$ref":"#/components/parameters/userId"}],"responses":{"200":{"$ref":"#/components/responses/Success"},"500":{"$ref":"#/components/responses/InternalError"}}},"put":{"tags":["SCIM UPDATE"],"summary":"scim update User (put)","description":"","operationId":"putUser","security":[{"token":[]}],"parameters":[{"$ref":"#/components/parameters/brand"},{"$ref":"#/components/parameters/userId"}],"requestBody":{"description":"User Body (IDP side)","required":true,"content":{"application/json+scim":{"schema":{"$ref":"#/components/schemas/IDPUserBodyRequest"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"500":{"$ref":"#/components/responses/InternalError"}}},"patch":{"tags":["SCIM UPDATE"],"summary":"scim update User (patch)","description":"","operationId":"patchUser","security":[{"token":[]}],"parameters":[{"$ref":"#/components/parameters/brand"},{"$ref":"#/components/parameters/userId"}],"requestBody":{"description":"User Body (IDP side)","required":true,"content":{"application/json+scim":{"schema":{"$ref":"#/components/schemas/IDPUserBodyRequest"}}}},"responses":{"200":{"$ref":"#/components/responses/Success"},"500":{"$ref":"#/components/responses/InternalError"}}}}},"schemes":["https"]}