openapi: 3.2.0
info:
  description: API to get h5p resources
  version: 1.0.0
  title: H5P get API
servers:
- url: https://api.coorpacademy.com/h5p
  description: production
- url: https://api-staging.coorpacademy.com/h5p
  description: staging
tags:
- name: H5P get
paths:
  /{exitNodeRef}:
    get:
      tags:
      - H5P get
      parameters:
      - name: exitNodeRef
        in: path
        required: true
        schema:
          type: string
        description: The exit node ref
        example: exi_xxxxx
      summary: Get file in h5p resource.
      description: ''
      operationId: h5pExitNodeGET
      security:
      - token: []
      responses:
        '301':
          description: Redirects to end screen (with or without completed progressions).
          headers:
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '400':
          description: Undefined/ Invalid token errors.
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/NotDefinedError'
                - $ref: '#/components/schemas/InvalidJWTokenError'
        '404':
          description: Not found Errors.
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ProgressionNotFoundError'
                - $ref: '#/components/schemas/BrandNotFoundError'
components:
  schemas:
    ProgressionNotFoundError:
      description: ProgressionNotFoundError
      type: string
    Success:
      type: string
      description: ''
    BrandNotFoundError:
      description: ProgressionNotFoundError
      type: string
    InvalidJWTokenError:
      description: InvalidJWTokenError
      type: string
    NotDefinedError:
      description: NotDefinedError
      type: string
  headers:
    Cache-Control:
      schema:
        type: string
      example: no-cache, no-store, must-revalidate
    Location:
      description: url location to redirect based on exitNodeRef
      schema:
        type: string
      example: https://onboarding.coorpacademy.com/externalContent/externalContentRef/progressionId/end
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
