{"openapi":"3.0.0","info":{"description":"API for Coorp Scorm player content","version":"1.0.0","title":"scorm content API"},"servers":[{"url":"https://api.coorpacademy.com/content-scorm","description":"production"},{"url":"https://api-staging.coorpacademy.com/content-scorm","description":"staging"},{"url":"http://localhost:13000","description":"local"}],"components":{"headers":{"Access-Control-Allow-Origin":{"schema":{"type":"string"},"example":"*"},"Cache-Control":{"schema":{"type":"string"},"example":"no-cache, no-store, must-revalidate"},"Content-Type":{"schema":{"type":"string"},"example":"application/json"},"Location":{"schema":{"type":"string"},"example":"/scorm/valid-scorm.zip/index_lms.html"}},"schemas":{"resource":{"type":"object","properties":{"ref":{"type":"string","example":"med_art3f5P"},"type":{"type":"string","example":"pdf"}}},"payloadRequestClue":{"type":"object","properties":{"content":{"type":"object","properties":{"ref":{"type":"string","example":"cha_er3dfTs"},"type":{"type":"string","example":"slide"}}},"resource":{"$ref":"#/components/schemas/resource"}}},"payloadMarkResourceAsViewed":{"type":"object","properties":{"content":{"type":"object","properties":{"ref":{"type":"string","example":"cha_er3dfTs"},"type":{"type":"string","example":"chapter"}}},"resource":{"$ref":"#/components/schemas/resource"}}},"instruction":{"type":"object","properties":{"field":{"type":"string"},"type":{"type":"string","enum":["add","set"]},"value":{"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"}]}}},"moveActionPayload":{"type":"object","properties":{"payload":{"type":"object","properties":{"nextContent":{"$ref":"#/components/schemas/content"},"instructions":{"type":"array","items":{"$ref":"#/components/schemas/instruction"}}}}}},"answerActionPayload":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/content"},"nextContent":{"$ref":"#/components/schemas/content"},"answer":{"type":"array","items":{"type":"string"}},"isCorrect":{"type":"boolean"},"godMode":{"type":"boolean"},"instructions":{"type":"array","items":{"$ref":"#/components/schemas/instruction"}}}},"askCluePayload":{"type":"object","properties":{"content":{"type":"object","properties":{"type":{"enum":["slide"]},"ref":{"type":"string"}}}}},"extralifePayload":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/content"},"nextContent":{"$ref":"#/components/schemas/content"},"instructions":{"type":"array","items":{"$ref":"#/components/schemas/instruction"}}}},"contentResourceViewedPayload":{"type":"object","properties":{"resource":{"type":"object","properties":{"ref":{"type":"string"},"type":{"enum":["video","pdf","img"]},"version":{"type":"string"}}}}},"action":{"type":"object","properties":{"createdAt":{"type":"string"},"type":{"type":"string","enum":["init","answer","move","clue","resource","extraLifeAccepted","extraLifeRefused"]},"payload":{"oneOf":[{"$ref":"#/components/schemas/moveActionPayload"},{"$ref":"#/components/schemas/answerActionPayload"},{"$ref":"#/components/schemas/askCluePayload"},{"$ref":"#/components/schemas/extralifePayload"},{"$ref":"#/components/schemas/contentResourceViewedPayload"}]}}},"content":{"type":"object","properties":{"ref":{"type":"string"},"type":{"type":"string"},"version":{"type":"string"}}},"launchURLBody":{"type":"object","properties":{"enrolmentId":{"type":"number"},"learnerId":{"type":"number"},"loId":{"type":"number"}}},"progressionStateVariables":{"type":"object","properties":{"default":{"type":"string"}},"required":["default"],"example":{"lesson_status":"failed","score_raw":"0","score_max":100,"score_min":0,"session_time":"0000:00:26.15"},"additionalProperties":{"oneOf":[{"type":"string"},{"type":"number"},{"type":"boolean"}]}},"progression":{"type":"object","properties":{"_id":{"type":"string"},"engine":{"type":"object","properties":{"ref":{"type":"string"},"version":{"type":"string"}}},"content":{"$ref":"#/components/schemas/content"},"engineOptions":{"$ref":"#/components/schemas/EngineOptions"},"state":{"type":"object","description":"Actual state of the progression","properties":{"requestedClues":{"type":"array","items":{"type":"string"}},"slides":{"type":"array","items":{"type":"string"}},"lives":{"type":"number"},"viewedResources":{"type":"array","items":{"type":"object","properties":{"ref":{"type":"string"},"resources":{"type":"array","items":{"type":"string"}},"type":{"type":"string","enum":["discipline","chapter","level","slide","node","failure","success","audio","scorm","podcast","article","video","pdf","img"]}}}},"stars":{"type":"number"},"step":{"type":"object","required":["current"],"properties":{"current":{"type":"number"},"total":{"type":"number"}}},"remainingLifeRequests":{"type":"number"},"hasViewedAResourceAtThisStep":{"type":"boolean"},"allAnswers":{"type":"array","items":{"type":"object","properties":{"slideRef":{"type":"string"},"isCorrect":{"nullable":true,"type":"string"},"answer":{"type":"array","items":{"type":"string"}}}}},"variables":{"$ref":"#/components/schemas/progressionStateVariables"},"pendingSlides":{"type":"array","items":{"type":"string"}},"content":{"$ref":"#/components/schemas/content"},"nextContent":{"$ref":"#/components/schemas/content"},"chapters":{"type":"array","items":{"type":"string"}},"livesDisabled":{"type":"boolean"},"isCorrect":{"type":"boolean"}}},"meta":{"type":"object","properties":{"source":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"enrolmentId":{"type":"string"}}}}},"playerInit":{"type":"object","properties":{"brand":{"type":"object","properties":{"style":{"type":"object","properties":{"_colors":{"type":"object","properties":{"primary":{"type":"string"},"good":{"type":"string"},"bad":{"type":"string"},"life":{"type":"string"}}}}}}},"progression":{"$ref":"#/components/schemas/progression"}},"example":{"brand":{"style":{"_color":{"bad":"","good":"","primary":"","life":""}}},"progression":{"engine":{"ref":"learner","version":"2"},"engineOptions":{"livesDisabled":false},"_id":"62deaa61cd37710025f9a10c","content":{"ref":"mod_NyfT7HfB3","type":"level","version":"6"},"state":{"livesDisabled":false,"isCorrect":true,"slides":[],"lives":4,"step":{"current":1},"stars":0,"requestedClues":[],"viewedResources":[],"remainingLifeRequests":1,"hasViewedAResourceAtThisStep":false,"nextContent":{"type":"slide","ref":"sli_VkNXBBMr2"},"allAnswers":[],"pendingSlides":[],"variables":{}},"actions":[{"payload":{"instructions":null,"nextContent":{"type":"slide","ref":"sli_VkNXBBMr2"}},"type":"move","createdAt":"2022-07-25T14:36:17.099+0000"},{"payload":{"answer":["Rien : une fois que votre prospect est d'accord pour conclure la vente, votre travail est terminé !"],"instructions":null,"content":{"ref":"sli_VkNXBBMr2","type":"slide"},"nextContent":{"ref":"extraLife","type":"node"},"isCorrect":false,"godMode":false},"type":"answer","createdAt":"2022-07-27T09:47:54.815+0000"}]}}},"progressionExtralife":{"allOf":[{"$ref":"#/components/schemas/progression"},{"type":"object","properties":{"actions":{"type":"array","items":{"type":"object","properties":{"createdAt":{"type":"string"},"type":{"type":"string","enum":["extraLifeAccepted","extraLifeRefused"]},"payload":{"$ref":"#/components/schemas/extralifePayload"}}}}}}]},"answer":{"type":"object","properties":{"correctAnswer":{"type":"array","items":{"type":"string"}},"corrections":{"type":"array","items":{"type":"object","properties":{"answer":{"type":"string"},"isCorrect":{"type":"boolean"}}}}},"example":{"correctAnswer":["Pure players","Click and mortar","Sites de ventes privées et de bons plans"],"corrections":[{"answer":"Pure players","isCorrect":true}]}},"media":{"type":"object","properties":{"mediaUrl":{"type":"string"},"type":{"type":"string"}},"example":{"mediaUrl":"//static.coorpacademy.com/content/CoorpAcademy/content-catalogue/cockpit-assessment/raw/teste.pdf","type":"pdf"}},"slide":{"type":"object","properties":{"_id":{"type":"string"},"chapter_id":{"type":"string"},"clue":{"type":"string"},"eligibleForReview":{"type":"boolean"},"klf":{"type":"string"},"lessons":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"description":{"type":"string"},"mediaRef":{"type":"string"},"mimeType":{"type":"string"},"poster":{"type":"string"},"posters":{"type":"array","items":{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"},"url":{"type":"string"}}}},"ref":{"type":"string"},"src":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"mimeType":{"type":"string"},"url":{"type":"string"}}}},"subtitles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"language":{"type":"string"},"url":{"type":"string"},"hls_url":{"type":"string"},"name":{"type":"string"},"default":{"type":"boolean"}}}},"type":{"type":"string"},"videoId":{"type":"string"}}}},"meta":{"type":"object","properties":{"createdt":{"type":"string"},"updatedAt":{"type":"string"}}},"question":{"type":"object","properties":{"type":{"type":"string"},"header":{"type":"string"},"explanation":{"type":"string"},"content":{"type":"object","properties":{"choices":{"type":"array","items":{"type":"object","properties":{"media":{"type":"object","properties":{"src":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string"},"mimeType":{"type":"string"},"url":{"type":"string"}}}},"posters":{"type":"array","items":{"type":"object","properties":{"width":{"type":"number"},"height":{"type":"number"},"url":{"type":"string"}}}},"subtitles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"language":{"type":"string"},"url":{"type":"string"},"hls_url":{"type":"string"},"name":{"type":"string"},"default":{"type":"boolean"}}}}}},"_id":{"type":"string"},"label":{"type":"string"},"value":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"value":{"type":"string"},"selected":{"type":"boolean"}}}}}}},"answers":{"type":"array","items":{"type":"array","items":{"type":"string"}}}}}}},"tips":{"type":"string"},"authors":{"type":"array","items":{"type":"string"}}}},"ScormProgress":{"description":"Content information related to the progression","type":"object","properties":{"completionStatus":{"type":"string","description":"Scorm completion Status: complete || incomplete"},"completionSuccess":{"type":"string","description":"Completion success: passed || fail || unknown"},"score":{"type":"number","description":"Scorm Score (1/100)"}}},"Engine":{"description":"Content information related to the used progression engine","type":"object","properties":{"ref":{"type":"string","description":"Engine ref","enum":["microlearning","learner","external","review"]},"version":{"type":"string","description":"Engine version"}}},"EngineOptions":{"description":"Content information related to the progression engine option","type":"object","properties":{"livesDisabled":{"type":"boolean"},"shuffleChoices":{"type":"boolean"},"lives":{"type":"integer"}}},"presignedS3UrlBody":{"description":"get S3 Signed Url to upload scorm & CSV metadata","type":"object","properties":{"repository":{"type":"string","description":"repository associated to the bulk"}}}},"responses":{"GetSignedS3Link":{"description":"Response contain a S3 Signed Link URL to upload Scorm File and Csv Metadata File URL","content":{"application/json":{"schema":{"type":"object","properties":{"uploadZipUrl":{"type":"string"}},"example":{"uploadZipUrl":"https://uploadZipUrl.com"}}}}},"MarkResourceAsViewedSuccess":{"description":"Mark Resource As Viewed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/progression"}}}},"RequestClueSuccess":{"description":"Request Clue","content":{"application/json":{"schema":{"$ref":"#/components/schemas/progression"}}}},"SlideSuccess":{"description":"Get slide","content":{"application/json":{"schema":{"$ref":"#/components/schemas/slide"}}}},"ClueSuccess":{"description":"Get clue","content":{"text/plain":{"schema":{"type":"string","example":"What a beautiful clue"}}}},"ExitNodeSuccess":{"description":"Get exitNode","content":{"application/json":{"schema":{"type":"object","properties":{"ref":{"type":"string"},"title":{"type":"string"},"descritption":{"type":"string"},"type":{"type":"string"},"media":{"$ref":"#/components/schemas/media"}},"example":{"description":"description","media":{"mediaUrl":"url","type":"pdf"},"ref":"biba-exit-node-C","title":"title","type":"success"}}}}},"LevelSuccess":{"description":"Fetch level","content":{"application/json":{"schema":{"type":"object","properties":{"universalRef":{"type":"string"}},"example":{"universalRef":"mod_NJVc3JLJr"}}}}},"SlidesNumberSuccess":{"description":"Fetch slides number","content":{"application/json":{"schema":{"type":"object","properties":{"nbSlides":{"type":"number"}},"example":{"nbSlides":4}}}}},"GetLaunchUrlSuccess":{"description":"Response containe Launch Acces URL for the Coorp Scorm Player as well as progressionId and JWT","content":{"application/json":{"schema":{"type":"object","properties":{"progressionId":{"type":"string","description":"Id of the progression on Coorp Sidelinked to the enrolmentId given as input"},"launchUrl":{"type":"string","description":"launch URL of the Coorp Scorm Player"},"JWT":{"type":"string","description":"Jwt to grant access to the progression endpoint to check Scorm Progress"}}}}}},"ProgressionFromEnrolmentSuccess":{"description":"Full progression response for the endpoint containing coorp Data, scormProgress, go1 LoId & go1 enrolmentId","content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"},"scormProgress":{"$ref":"#/components/schemas/ScormProgress"},"loId":{"type":"number","description":"Id of the go1 learning Object"},"enrolmentId":{"type":"number","description":"Id of the go1 enrolement identifying the coorp progression"}}}}}},"InternalError":{"description":"InternalError","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"body":{"type":"string"}},"example":{"statusCode":500,"body":"internal Error while resolving request"}}}}},"NotFoundError":{"description":"NotFoundError","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"body":{"type":"string"}},"example":{"statusCode":404,"body":"progression not found for go1 enrolmentId XXXXX"}}}}},"S3LinkUploadError":{"description":"S3LinkUploadError","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"body":{"type":"string"}},"example":{"statusCode":500,"body":"Issue while getting the S3 signed Link"}}}}},"NotDefinedError":{"description":"NotDefinedError","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"body":{"type":"string"}},"example":{"statusCode":501,"body":"InternalError because something (like host in header) was not correctly defined"}}}}},"LoNotFoundError":{"description":"NotFoundError","content":{"application/json":{"schema":{"type":"object","properties":{"statusCode":{"type":"number"},"body":{"type":"string"}},"example":{"statusCode":404,"body":"Given Learning Object not found or not bound to the enrolmentId/progressionId"}}}}},"ChapterSuccess":{"description":"Get chapter","content":{"application/json":{"schema":{"type":"object","properties":{"ref":{"type":"string"}},"example":{"universalRef":"cha_1234567890"}}}}},"AnswerSuccess":{"description":"POST answer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/answer"}}}},"PostProgressionSuccess":{"description":"POST progression","content":{"application/json":{"schema":{"$ref":"#/components/schemas/progression"}}}},"ExtralifeSuccess":{"description":"POST extralife","content":{"application/json":{"schema":{"$ref":"#/components/schemas/progressionExtralife"}}}},"InitPlayerSuccess":{"description":"Get init Player data (progression & brand)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/progression"}}}}},"parameters":{"slideRef":{"name":"slideRef","in":"path","description":"id of the slide","required":true,"schema":{"type":"string"}},"exitNodeRef":{"name":"exitNodeRef","in":"path","description":"ref of the exitNode","required":true,"schema":{"type":"string"}},"chapterRef":{"name":"chapterRef","in":"path","description":"ref of the chapter","required":true,"schema":{"type":"string"}},"levelRef":{"name":"levelRef","in":"path","description":"ref of the level","required":true,"schema":{"type":"string"}},"contentRef":{"name":"contentRef","in":"path","description":"ref of the content","required":true,"schema":{"type":"string"}},"engineRef":{"name":"engineRef","in":"path","description":"ref of the engine","required":true,"schema":{"type":"string"}},"version":{"name":"version","in":"path","description":"the version","required":true,"schema":{"type":"number"}},"enrolmentId":{"name":"enrolmentId","in":"path","description":"the enrolmentId relate to coorp progression","required":true,"schema":{"type":"string"}}},"securitySchemes":{"Authorization":{"type":"apiKey","name":"Authorization","in":"header"}}},"paths":{"/slide/{slideRef}":{"get":{"tags":["Scorm Slide"],"summary":"Get Slide by ref","description":"","operationId":"getSlideGET","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/slideRef"}],"responses":{"200":{"$ref":"#/components/responses/SlideSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/slide/{slideRef}/clue":{"post":{"tags":["Scorm Clue"],"summary":"Get Clue","description":"get Clue for scorm standalone app player","operationId":"getCluePOST","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/slideRef"}],"requestBody":{"description":"Progression","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/progression"}}}},"responses":{"200":{"$ref":"#/components/responses/ClueSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/exit-node/{exitNodeRef}":{"get":{"tags":["Scorm ExitNode"],"summary":"Get ExitNode","description":"","operationId":"ExitNodeGET","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/exitNodeRef"}],"responses":{"200":{"$ref":"#/components/responses/ExitNodeSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/chapter/{chapterRef}":{"get":{"tags":["Scorm Chapter"],"summary":"Get Chapter","description":"Get Chapter for scorm standalone app player","operationId":"getChapterGET","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/chapterRef"}],"responses":{"200":{"$ref":"#/components/responses/ChapterSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/level/{levelRef}":{"get":{"tags":["Scorm Level"],"summary":"Get Level","description":"Get Level for scorm standalone app player","operationId":"fetchLevelGET","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/levelRef"}],"responses":{"200":{"$ref":"#/components/responses/LevelSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/slide/content/{contentRef}/engine/{engineRef}/version/{version}":{"get":{"tags":["Scorm slides number"],"summary":"Get slides number","description":"Get slides number for scorm standalone app player","operationId":"fetchSlidesNumberGET","security":[{"Authorization":[]}],"parameters":[{"$ref":"#/components/parameters/contentRef"},{"$ref":"#/components/parameters/engineRef"},{"$ref":"#/components/parameters/version"}],"responses":{"200":{"$ref":"#/components/responses/SlidesNumberSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/find-answer":{"post":{"tags":["Scorm Answer"],"summary":"FIND Answer","description":"FIND Answer for scorm standalone app player","operationId":"findAnswer","security":[{"Authorization":[]}],"requestBody":{"description":"Progression, given answers and slide ref","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"},"givenAnswer":{"type":"array","items":{"type":"string"}},"slideRef":{"type":"string"}}}}}},"responses":{"200":{"$ref":"#/components/responses/AnswerSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/post-answer":{"post":{"tags":["Scorm Answer"],"summary":"return progression with answer action","description":"POST Progression with answer action for scorm standalone app player","operationId":"postProgressionWithAction","security":[{"Authorization":[]}],"requestBody":{"description":"Progression and user answer","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"},"payload":{"type":"object","properties":{"answer":{"type":"array","items":{"type":"string"}},"content":{"$ref":"#/components/schemas/content"}}}}}}}},"responses":{"200":{"$ref":"#/components/responses/PostProgressionSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/mark-resource-as-viewed":{"post":{"tags":["Scorm Mark resource as viewed"],"summary":"POST Mark resource as viewed","description":"POST Mark Resource As Viewed","operationId":"getMarkResourceAsViewedPOST","security":[{"Authorization":[]}],"requestBody":{"description":"Progression and Payload","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"},"payload":{"$ref":"#/components/schemas/payloadMarkResourceAsViewed"}}}}}},"responses":{"200":{"$ref":"#/components/responses/MarkResourceAsViewedSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/request-clue":{"post":{"tags":["Scorm Request Clue"],"summary":"POST Request Clue","description":"POST Request Clue for scorm standalone app player","operationId":"RequestCluePOST","security":[{"Authorization":[]}],"requestBody":{"description":"Progression and payload","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"},"payload":{"$ref":"#/components/schemas/payloadRequestClue"}}}}}},"responses":{"200":{"$ref":"#/components/responses/RequestClueSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/extralife/{state}":{"post":{"tags":["Scorm extra life"],"summary":"Post extralife","description":"POST extralife for scorm standalone app player","operationId":"postExtralife","security":[{"Authorization":[]}],"parameters":[{"in":"path","name":"state","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Progression","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"}}}}}},"responses":{"200":{"$ref":"#/components/responses/ExtralifeSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/init-player/{contentRef}":{"get":{"tags":["Scorm init player data (progression & brand)"],"summary":"get Iniut Data for player (progression & brand)","description":"GET init data for scorm standalone app player","operationId":"getInitPlayer","security":[{"Authorization":[]}],"parameters":[{"in":"path","name":"contentRef","required":true,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/InitPlayerSuccess"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/lms-api":{"get":{"tags":["Get lms api"],"summary":"get lms api file from S3","description":"GET lms api file from S3","operationId":"lmsAPI","security":[{"Authorization":[]}],"responses":{"200":{"description":"Get lms api","content":{"application/json":{"schema":{"type":"string"}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/getProgressionFromEnrolment":{"post":{"tags":["Get Progressions from go1 enrolment_id"],"summary":"Get Progression from enrolment_id","description":"Proxy for api-progression to resolve progression based on enrollement id (go1)","operationId":"getProgressionFromEnrolmentPOST","security":[{"Authorization":[]}],"requestBody":{"description":"required informations > enrolmentId / learnerId / loId","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/launchURLBody"},"examples":{"default":{"value":{"enrolmentId":1234,"loId":1234,"learnerId":1234}}}}}},"responses":{"200":{"$ref":"#/components/responses/ProgressionFromEnrolmentSuccess"},"404":{"$ref":"#/components/responses/NotFoundError"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/getLaunchUrl":{"post":{"tags":["Get Scorm Launch URL"],"summary":"Get Scorm Player Launch URL","description":"Get Player Launch URL for GO1 : enrolment Id / Lo Id & learner ID","operationId":"getLaunchUrl","security":[{"Authorization":[]}],"requestBody":{"description":"required informations > enrolmentId / learnerId / loId","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/launchURLBody"},"examples":{"default":{"value":{"enrolmentId":1234,"loId":1234,"learnerId":1234}}}}}},"responses":{"200":{"$ref":"#/components/responses/GetLaunchUrlSuccess"},"404":{"$ref":"#/components/responses/LoNotFoundError"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/presignedS3Url":{"post":{"tags":["Get S3 Signed Upload URL"],"summary":"Get Signed S3 Link to Upload Scorm Bulk File to s3 Bucket","description":"Get S3 Link to Upload Scorm Bulk File to s3 Bucket","operationId":"presignedS3UrlPOST","security":[{"Authorization":[]}],"requestBody":{"description":"Information to get s3 Url (in case of source = CM) // for go1 input are not required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/presignedS3UrlBody"},"examples":{"default":{"value":{"repository":"content-repo@cockpit-repo"}}}}}},"responses":{"200":{"$ref":"#/components/responses/GetSignedS3Link"},"500":{"$ref":"#/components/responses/S3LinkUploadError"},"501":{"$ref":"#/components/responses/NotDefinedError"}}}}},"schemes":["https"]}