openapi: 3.2.0
info:
  description: SCIM API to integrate identity Manager solution for a better Provisioning and deprovisioning of users
  version: 1.0.0
  title: Scim CREATE API
servers:
- url: https://api.coorpacademy.com
schemes:
- https
tags:
- name: Scim CREATE
paths:
  /{brand}/Users:
    post:
      tags:
      - Scim CREATE
      summary: scim create User
      description: ''
      operationId: onboardingPOST
      security:
      - token: []
      parameters:
      - $ref: '#/components/parameters/brand'
      requestBody:
        description: User Body (IDP side)
        required: true
        content:
          application/json+scim:
            schema:
              $ref: '#/components/schemas/IDPUserBodyRequest'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    brand:
      name: brand
      in: path
      description: brandName
      required: true
      schema:
        type: string
  schemas:
    IDPUserBodyRequest:
      type: object
      properties:
        id:
          type: string
          description: userId
      example:
        id: '1234'
  responses:
    Success:
      description: User created successfully
      content:
        '*/*':
          schema:
            type: object
            properties:
              success:
                type: object
                properties:
                  ResponseMetadata:
                    type: object
                    properties:
                      RequestId:
                        type: string
                  MD5OfMessageBody:
                    type: string
                  MessageId:
                    type: string
    InternalError:
      description: InternalError
      content:
        '*/*':
          schema:
            type: string
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header
