openapi: 3.2.0
info:
  description: API for Coorp Scorm player content
  version: 1.0.0
  title: scorm content Scorm extra life API
servers:
- url: https://api.coorpacademy.com/content-scorm
  description: production
- url: https://api-staging.coorpacademy.com/content-scorm
  description: staging
- url: http://localhost:13000
  description: local
schemes:
- https
tags:
- name: Scorm extra life
paths:
  /extralife/{state}:
    post:
      tags:
      - Scorm extra life
      summary: Post extralife
      description: POST extralife for scorm standalone app player
      operationId: postExtralife
      security:
      - Authorization: []
      parameters:
      - in: path
        name: state
        required: true
        schema:
          type: string
      requestBody:
        description: Progression
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                progression:
                  $ref: '#/components/schemas/progression'
      responses:
        '200':
          $ref: '#/components/responses/ExtralifeSuccess'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    content:
      type: object
      properties:
        ref:
          type: string
        type:
          type: string
        version:
          type: string
    EngineOptions:
      description: Content information related to the progression engine option
      type: object
      properties:
        livesDisabled:
          type: boolean
        shuffleChoices:
          type: boolean
        lives:
          type: integer
    progression:
      type: object
      properties:
        _id:
          type: string
        engine:
          type: object
          properties:
            ref:
              type: string
            version:
              type: string
        content:
          $ref: '#/components/schemas/content'
        engineOptions:
          $ref: '#/components/schemas/EngineOptions'
        state:
          type: object
          description: Actual state of the progression
          properties:
            requestedClues:
              type: array
              items:
                type: string
            slides:
              type: array
              items:
                type: string
            lives:
              type: number
            viewedResources:
              type: array
              items:
                type: object
                properties:
                  ref:
                    type: string
                  resources:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                    - discipline
                    - chapter
                    - level
                    - slide
                    - node
                    - failure
                    - success
                    - audio
                    - scorm
                    - podcast
                    - article
                    - video
                    - pdf
                    - img
            stars:
              type: number
            step:
              type: object
              required:
              - current
              properties:
                current:
                  type: number
                total:
                  type: number
            remainingLifeRequests:
              type: number
            hasViewedAResourceAtThisStep:
              type: boolean
            allAnswers:
              type: array
              items:
                type: object
                properties:
                  slideRef:
                    type: string
                  isCorrect:
                    type:
                    - string
                    - 'null'
                  answer:
                    type: array
                    items:
                      type: string
            variables:
              $ref: '#/components/schemas/progressionStateVariables'
            pendingSlides:
              type: array
              items:
                type: string
            content:
              $ref: '#/components/schemas/content'
            nextContent:
              $ref: '#/components/schemas/content'
            chapters:
              type: array
              items:
                type: string
            livesDisabled:
              type: boolean
            isCorrect:
              type: boolean
        meta:
          type: object
          properties:
            source:
              type: string
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            enrolmentId:
              type: string
    instruction:
      type: object
      properties:
        field:
          type: string
        type:
          type: string
          enum:
          - add
          - set
        value:
          oneOf:
          - type: string
          - type: number
          - type: boolean
    progressionStateVariables:
      type: object
      properties:
        default:
          type: string
      required:
      - default
      example:
        lesson_status: failed
        score_raw: '0'
        score_max: 100
        score_min: 0
        session_time: '0000:00:26.15'
      additionalProperties:
        oneOf:
        - type: string
        - type: number
        - type: boolean
    extralifePayload:
      type: object
      properties:
        content:
          $ref: '#/components/schemas/content'
        nextContent:
          $ref: '#/components/schemas/content'
        instructions:
          type: array
          items:
            $ref: '#/components/schemas/instruction'
    progressionExtralife:
      allOf:
      - $ref: '#/components/schemas/progression'
      - type: object
        properties:
          actions:
            type: array
            items:
              type: object
              properties:
                createdAt:
                  type: string
                type:
                  type: string
                  enum:
                  - extraLifeAccepted
                  - extraLifeRefused
                payload:
                  $ref: '#/components/schemas/extralifePayload'
  responses:
    ExtralifeSuccess:
      description: POST extralife
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/progressionExtralife'
    InternalError:
      description: InternalError
      content:
        application/json:
          schema:
            type: object
            properties:
              statusCode:
                type: number
              body:
                type: string
            example:
              statusCode: 500
              body: internal Error while resolving request
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
