{"swagger":"2.0","info":{"description":"API to manage CoorpAcademy progression","version":"2.455.0","title":"progression API"},"host":"progression.coorpacademy.com","basePath":"/api","schemes":["https"],"produces":["application/json"],"securityDefinitions":{"authentication":{"type":"apiKey","name":"authentication","in":"header"}},"paths":{"/v2/recommendations/hero":{"get":{"tags":["recommendations"],"summary":"Get Hero recommendation","description":"Get Hero recommendation","operationId":"heroRecommendationFromDynamodbGET","security":[{"authentication":[]}],"parameters":[{"name":"minNbSlides","in":"query","type":"number","required":false},{"name":"success","in":"query","type":"boolean","required":false},{"name":"from[sortKey]","in":"query","required":false,"type":"string"},{"name":"from[partitionKey]","in":"query","required":false,"type":"string"},{"name":"from[updatedAt]","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","type":"number","required":false}],"responses":{"200":{"description":"Get Hero recommendation","schema":{"type":"object","additionalProperties":false,"required":["hits"],"properties":{"hits":{"type":"array","items":{"$ref":"#/definitions/HeroRecommendation"}},"lastEvaluatedKey":{"type":"number"}}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"recommendations"}},"/v2/analytics/completion":{"get":{"tags":["analytics"],"summary":"Get user progression completion","description":"Get user progression completion","operationId":"completionFromDynamodbGET","security":[{"authentication":[]}],"responses":{"200":{"description":"Get user progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsProgression"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"},"post":{"tags":["analytics"],"summary":"Post user progression completion","description":"Post user progression completion","operationId":"completionFromDynamodbPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref,engine@type@ref (ex: microlearning@chapter@cha_111,microlearning@chapter@cha_222,learner@level@mod_444)"}],"responses":{"200":{"description":"Post user progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsProgression"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/analytics/completion/review":{"get":{"tags":["analytics"],"summary":"Get user review progression completion","description":"Get user review progression completion","operationId":"reviewCompletionFromDynamodbGET","security":[{"authentication":[]}],"responses":{"200":{"description":"Get user review progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/ReviewCompletions"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/analytics/review":{"get":{"tags":["analytics"],"summary":"Get stars from review progressions by skill","description":"Get stars from review progressions by skill","operationId":"starsBySkillGET","security":[{"authentication":[]}],"responses":{"200":{"description":"user stars from review progressions by skill","schema":{"type":"array","items":{"$ref":"#/definitions/UsersStarsReviewBySkill"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/analytics/slide-count":{"get":{"tags":["analytics"],"summary":"Get content's slide count","description":"Get content's slide count","operationId":"slideCountFromDynamodbGET","security":[{"authentication":[]}],"responses":{"200":{"description":"Post content's slide count","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsSlideCount"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"},"post":{"tags":["analytics"],"summary":"Post content's slide count","description":"Post content's slide count","operationId":"slideCountFromDynamodbPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref,engine@type@ref (ex: microlearning@chapter@cha_111,microlearning@chapter@cha_222,learner@level@mod_444)"}],"responses":{"200":{"description":"Post content's slide count","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsSlideCount"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/analytics/progression/current":{"post":{"tags":["analytics"],"summary":"Post user current state on his progressions according to the given content","description":"Post user current state on his progressions","operationId":"currentFromDynamodbPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref@version,engine@type@ref (ex: microlearning@chapter@cha_111@1,microlearning@chapter@cha_222,learner@level@mod_444@2). @version is optional"}],"responses":{"200":{"description":"Post user current state on his progressions","schema":{"type":"array","items":{"$ref":"#/definitions/CurrentProgression"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/analytics/slides/{slideId}":{"get":{"tags":["analytics"],"summary":"Get slide's analytics","description":"Get slide's analytics","operationId":"slideAnalyticsFromDynamodbGET","security":[{"authentication":[]}],"parameters":[{"name":"slideId","in":"path","description":"Id of the slide","required":true,"type":"string","x-example":"sli_XXXXXXXXX"}],"responses":{"200":{"description":"Slide's analytics","schema":{"$ref":"#/definitions/AnalyticsSlide"}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"analytics"}},"/v2/users/{userId}/analytics/completion":{"get":{"tags":["analytics"],"summary":"Get user progression completion","description":"Get user progression completion","operationId":"completionFromDynamodbForUserGET","security":[{"authentication":[]}],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"}],"responses":{"200":{"description":"Get user progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsProgression"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"},"post":{"tags":["analytics"],"summary":"Post user progression completion","description":"Post user progression completion","operationId":"completionFromDynamodbForUserPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"},{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref,engine@type@ref (ex: microlearning@chapter@cha_111,microlearning@chapter@cha_222,learner@level@mod_444)"}],"responses":{"200":{"description":"Post user progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsProgression"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"}},"/v2/users/{userId}/analytics/completion/review":{"get":{"tags":["analytics"],"summary":"Get user review progression completion","description":"Get user review progression completion","operationId":"reviewCompletionFromDynamodbForUserGET","security":[{"authentication":[]}],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"}],"responses":{"200":{"description":"Get user review progression completion","schema":{"type":"array","items":{"$ref":"#/definitions/ReviewCompletions"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"}},"/v2/users/{userId}/analytics/review":{"get":{"tags":["analytics"],"summary":"Get stars from review progressions by skill","description":"Get stars from review progressions by skill","operationId":"starsBySkillIForUserGET","security":[{"authentication":[]}],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"}],"responses":{"200":{"description":"User stars on review progression by skills","schema":{"type":"array","items":{"$ref":"#/definitions/UsersStarsReviewBySkill"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"}},"/v2/users/{userId}/analytics/slide-count":{"get":{"tags":["analytics"],"summary":"Get content's slide count","description":"Get content's slide count","operationId":"slideCountFromDynamodbForUserGET","security":[{"authentication":[]}],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"}],"responses":{"200":{"description":"Post content's slide count","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsSlideCount"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"},"post":{"tags":["analytics"],"summary":"Post content's slide count","description":"Post content's slide count","operationId":"slideCountFromDynamodbForUserPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"},{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref,engine@type@ref (ex: microlearning@chapter@cha_111,microlearning@chapter@cha_222,learner@level@mod_444)"}],"responses":{"200":{"description":"Post content's slide count","schema":{"type":"array","items":{"$ref":"#/definitions/AnalyticsSlideCount"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"}},"/v2/users/{userId}/analytics/progression/current":{"post":{"tags":["analytics"],"summary":"Post user current state on his progressions according to the given content","description":"Post user current state on his progressions","operationId":"currentFromDynamodbForUserPOST","security":[{"authentication":[]}],"consumes":["text/plain"],"parameters":[{"name":"userId","in":"path","description":"Id of the user","required":true,"type":"string","x-example":"111111111111111111111111"},{"name":"contents","in":"body","schema":{"type":"string"},"description":"format: engine@type@ref@version,engine@type@ref (ex: microlearning@chapter@cha_111@1,microlearning@chapter@cha_222,learner@level@mod_444@2). @version is optional"}],"responses":{"200":{"description":"Post user current state on his progressions","schema":{"type":"array","items":{"$ref":"#/definitions/CurrentProgression"}}},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"}},"x-swagger-router-controller":"analytics"}},"/v1/progressions":{"get":{"tags":["progressions"],"summary":"Get some progressions","description":"Get some progressions","operationId":"progressionsGET","security":[{"authentication":[]}],"parameters":[{"name":"engine.ref","in":"query","type":"string","enum":["microlearning","learner"]},{"name":"content.ref","in":"query","type":"string"},{"name":"meta.enrolmentId","in":"query","type":"string"},{"name":"limit","in":"query","type":"number"}],"responses":{"200":{"description":"Get some progressions","schema":{"type":"array","items":{"$ref":"#/definitions/Progression"}}},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"progressions"},"post":{"tags":["progressions"],"consumes":["application/json"],"summary":"Create a new progression","description":"Create a new progression","operationId":"progressionsPOST","security":[{"authentication":[]}],"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ProgressionBody"}}],"responses":{"201":{"description":"Created progression","schema":{"$ref":"#/definitions/Progression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"}},"x-swagger-router-controller":"progressions"}},"/v1/progressions/{id}":{"get":{"tags":["progressions"],"summary":"Get progression","description":"Get progression","operationId":"progressionGET","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"}],"responses":{"200":{"description":"Get progression","schema":{"$ref":"#/definitions/Progression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"}},"x-swagger-router-controller":"progressions"}},"/v1/progressions/{id}/actions":{"get":{"tags":["progressions","actions"],"consumes":["application/json"],"summary":"Get progression's actions","description":"Get progression's actions","operationId":"actionsGET","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"}],"responses":{"200":{"description":"Get progression's actions","schema":{"type":"array","items":{"$ref":"#/definitions/Action"}}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"}},"x-swagger-router-controller":"progressions"}},"/v1/progressions/{id}/move":{"post":{"tags":["progressions","move"],"consumes":["application/json"],"summary":"Save a new move","description":"Save a new move","operationId":"movePOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/MoveBody"}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"move"}},"/v1/progressions/{id}/answers":{"post":{"tags":["progressions","answers"],"consumes":["application/json"],"summary":"Save a new answer","description":"Save a new answer","operationId":"answersPOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/AnswerBody"}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"answers"}},"/v1/progressions/{id}/extraLifeAccepted":{"post":{"tags":["progressions","extraLifeAccepted"],"consumes":["application/json"],"summary":"Accept the extraLife","description":"Accept the extraLife","operationId":"extraLifeAcceptedPOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ExtraLifeAccepted"}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"extraLifeAccepted"}},"/v1/progressions/{id}/extraLifeRefused":{"post":{"tags":["progressions","extraLifeRefused"],"consumes":["application/json"],"summary":"Refuse the extraLife","description":"Refuse the extraLife","operationId":"extraLifeRefusedPOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/ExtraLifeRefused"}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"extraLifeRefused"}},"/v1/progressions/{id}/clues":{"post":{"tags":["progressions","clues"],"consumes":["application/json"],"summary":"Save a clue request","description":"Save a clue request","operationId":"askCluePOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"type":"object","additionalProperties":false,"required":["content"],"properties":{"content":{"$ref":"#/definitions/Content"}},"example":{"content":{"ref":"1.A1.2","type":"slide"}}}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"clues"}},"/v1/progressions/{id}/resources":{"post":{"tags":["progressions","resources"],"consumes":["application/json"],"summary":"Mark a resource as viewed","description":"Mark a resource as viewed","operationId":"viewResourcePOST","security":[{"authentication":[]}],"parameters":[{"name":"id","in":"path","description":"Id of the progression","required":true,"type":"string","x-example":"000000000000000000000000"},{"name":"body","in":"body","required":true,"schema":{"type":"object","additionalProperties":false,"required":["resource","content"],"properties":{"resource":{"$ref":"#/definitions/Content"},"content":{"$ref":"#/definitions/Content"}},"example":{"resource":{"ref":"video1234","type":"video","version":"1"},"content":{"ref":"1.A1","type":"chapter","version":"1"}}}}],"responses":{"200":{"description":"Updated progression","schema":{"$ref":"#/definitions/UpdatedProgression"}},"400":{"$ref":"#/responses/BadRequest"},"401":{"$ref":"#/responses/Unauthorized"},"403":{"$ref":"#/responses/Forbidden"},"404":{"$ref":"#/responses/NotFound"},"409":{"$ref":"#/responses/Conflit"}},"x-swagger-router-controller":"resources"}}},"definitions":{"Action":{"type":"object","required":["type"],"properties":{"type":{"type":"string"},"payload":{"type":"object"}}},"ReviewCompletions":{"type":"object","properties":{"userId":{"type":"string","description":"User identifier"},"user_content":{"type":"string","description":"user Id and content reference"},"stars":{"type":"integer"},"progressionId":{"type":"string","description":"progression identifier"},"isDone":{"type":"boolean"},"content":{"type":"string"},"nbSlide":{"type":"integer"},"updatedAt":{"type":"string","format":"date-time"}}},"AnalyticsProgression":{"type":"object","additionalProperties":false,"required":["engine","userId","content","current","lastProgressionId","success","stars","lives","remainingLifeRequests","createdAt","updatedAt"],"properties":{"engine":{"$ref":"#/definitions/Engine"},"userId":{"type":"string","description":"User identifier"},"content":{"$ref":"#/definitions/Content"},"current":{"type":"integer"},"lastProgressionId":{"type":"string","description":"Progression identifier"},"success":{"type":"boolean"},"stars":{"type":"integer"},"lives":{"type":"integer"},"remainingLifeRequests":{"type":"integer"},"createdAt":{"type":"string","format":"date-time"},"firstCompletionDate":{"type":"string","format":"date-time"},"lastCompletionDate":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UsersStarsReviewBySkill":{"type":"object","additionalProperties":false,"required":["content","stars"],"properties":{"content":{"type":"string","description":"a ref to the Skill"},"stars":{"type":"integer","description":"Number of stars earned by the User on that review"}}},"AnalyticsSlideCount":{"type":"object","required":["ref","best","total","nbAttempts","nbDone"],"properties":{"ref":{"type":"string"},"best":{"type":"integer"},"total":{"type":"integer"},"nbAttempts":{"type":"integer"},"nbDone":{"type":"integer"}}},"Content":{"type":"object","additionalProperties":false,"required":["ref","type"],"description":"Content information related to the progression","properties":{"ref":{"type":"string","description":"Content ref"},"type":{"type":"string","description":"Content type: chapter, level, discipline, resource (video, pdf)"},"version":{"type":"string","description":"Version of the given content"}}},"HeroRecommendation":{"type":"object","required":["success","content","nbSlides","updatedAt","progressionId"],"properties":{"success":{"type":"boolean"},"content":{"$ref":"#/definitions/Content"},"nbSlides":{"type":"integer"},"updatedAt":{"type":"string","format":"date-time"},"progressionId":{"type":"string"}}},"CurrentProgression":{"type":"object","additionalProperties":false,"required":["engine","userId","content","currentProgressionId","inProgress","createdAt","updatedAt"],"properties":{"engine":{"$ref":"#/definitions/Engine"},"userId":{"type":"string","description":"User identifier"},"content":{"$ref":"#/definitions/Content"},"currentProgressionId":{"type":"string","description":"Progression identifier"},"inProgress":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Engine":{"type":"object","additionalProperties":false,"description":"Content information related to the used progression engine","required":["ref"],"properties":{"ref":{"type":"string","description":"Engine ref","enum":["microlearning","learner","external","review"]},"version":{"type":"string","description":"Engine version"}}},"EngineOptions":{"type":"object","additionalProperties":false,"description":"","properties":{"livesDisabled":{"type":"boolean"},"shuffleChoices":{"type":"boolean"},"lives":{"type":"integer"}}},"ProgressionBody":{"type":"object","additionalProperties":false,"required":["content","engine"],"properties":{"_id":{"type":"string","description":"Progression identifier"},"content":{"$ref":"#/definitions/Content"},"engine":{"$ref":"#/definitions/Engine"},"meta":{"$ref":"#/definitions/MetaBody"},"actions":{"type":"array","items":{"$ref":"#/definitions/Action"}},"engineOptions":{"$ref":"#/definitions/EngineOptions"}},"example":{"content":{"ref":"1.A1","type":"chapter"},"engine":{"ref":"microlearning","version":"1"},"engineOptions":{"livesDisabled":false},"actions":[{"type":"move","payload":{"nextContent":{"ref":"1.A1.2","type":"slide"}}}]}},"Progression":{"type":"object","additionalProperties":false,"required":["_id","userId","content","engine","meta","state"],"properties":{"_id":{"type":"string","description":"Progression identifier"},"userId":{"type":"string","description":"User identifier"},"content":{"$ref":"#/definitions/Content"},"engine":{"$ref":"#/definitions/Engine"},"engineOptions":{"$ref":"#/definitions/EngineOptions"},"meta":{"$ref":"#/definitions/Meta"},"state":{"$ref":"#/definitions/State"}}},"MoveBody":{"type":"object","additionalProperties":false,"required":["nextContent"],"properties":{"nextContent":{"$ref":"#/definitions/Content"},"instructions":{"type":["array","null"],"items":{"$ref":"#/definitions/Instruction"},"default":null}},"example":{"nextContent":{"ref":"1.A1.1","type":"slide"}}},"AnswerBody":{"type":"object","additionalProperties":false,"required":["content","nextContent","answer"],"properties":{"content":{"$ref":"#/definitions/Content"},"nextContent":{"$ref":"#/definitions/Content"},"answer":{"type":"array","items":{"type":"string"}},"isCorrect":{"type":["boolean","null"]},"godMode":{"type":"boolean","default":false},"instructions":{"type":["array","null"],"items":{"$ref":"#/definitions/Instruction"},"default":null}},"example":{"content":{"ref":"1.A1.2","type":"slide"},"nextContent":{"ref":"1.A1.1","type":"slide"},"isCorrect":false,"answer":["foo","bar"]}},"Instruction":{"type":"object","additionalProperties":false,"required":["field","type","value"],"properties":{"field":{"type":"string"},"type":{"type":"string","enum":["add","set"]},"value":{"type":["number","boolean","string"]}}},"ExtraLifeAccepted":{"type":"object","additionalProperties":false,"required":["content","nextContent"],"properties":{"content":{"$ref":"#/definitions/Content"},"nextContent":{"$ref":"#/definitions/Content"}},"example":{"content":{"ref":"extraLife","type":"node"},"nextContent":{"ref":"1.A1.1","type":"slide"}}},"ExtraLifeRefused":{"type":"object","additionalProperties":false,"required":["content","nextContent"],"properties":{"content":{"$ref":"#/definitions/Content"},"nextContent":{"$ref":"#/definitions/Content"}},"example":{"content":{"ref":"extraLife","type":"node"},"nextContent":{"ref":"failExitNode","type":"failure"}}},"UpdatedProgression":{"type":"object","additionalProperties":false,"required":["_id","userId","content","state","meta","engine"],"properties":{"_id":{"type":"string","description":"Progression identifier"},"userId":{"type":"string","description":"User identifier"},"content":{"$ref":"#/definitions/Content"},"state":{"$ref":"#/definitions/State"},"meta":{"$ref":"#/definitions/Meta"},"engine":{"$ref":"#/definitions/Engine"},"engineOptions":{"$ref":"#/definitions/EngineOptions"}}},"State":{"type":"object","additionalProperties":false,"required":["nextContent"],"properties":{"content":{"$ref":"#/definitions/Content"},"nextContent":{"$ref":"#/definitions/Content"},"isCorrect":{"type":["boolean","null"]},"lives":{"type":"number"},"livesDisabled":{"type":"boolean","default":false},"slides":{"type":"array","items":{"type":"string"}},"pendingSlides":{"type":"array","items":{"type":"string"}},"step":{"type":"object","additionalProperties":false,"properties":{"total":{"type":"number"},"current":{"type":"number"}}},"stars":{"type":"number"},"requestedClues":{"type":"array","items":{"type":"string"}},"hasViewedAResourceAtThisStep":{"type":"boolean","default":false},"viewedResources":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string"},"ref":{"type":"string"},"resources":{"type":"array","items":{"type":"string"}}}}},"variables":{"type":"object"},"remainingLifeRequests":{"type":"integer"},"allAnswers":{"type":"array","items":{"type":"object","additionalProperties":false,"properties":{"slideRef":{"type":"string"},"answer":{"type":"array","items":{"type":"string"}},"isCorrect":{"type":"boolean"}}}}}},"Meta":{"type":"object","additionalProperties":false,"required":["createdAt","updatedAt"],"properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"source":{"type":"string","description":"progression source"}}},"MetaBody":{"type":"object","additionalProperties":false,"properties":{"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"source":{"type":"string","description":"progression source"},"enrolmentId":{"type":"string","description":"id of the go1 enrolment"}}},"AnalyticsSlide":{"type":"object","additionalProperties":false,"properties":{"rate":{"type":"integer"},"success":{"type":"integer"},"total":{"type":"integer"}}},"Error":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"errors":{"type":"array","items":{"type":"object"}},"success":{"type":"boolean"},"status":{"type":"integer"},"message":{"type":"string"}}}},"responses":{"BadRequest":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"Forbidden":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"InternalError":{"description":"InternalError","schema":{"$ref":"#/definitions/Error"}},"Unauthorized":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"NotFound":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"Conflit":{"description":"Conflit","schema":{"$ref":"#/definitions/Error"}}}}